footer {
  height: 300px;
  background: var(--leftSidebarBackground);
  box-shadow: inset 0 0 10px var(--leftSidebarBorderColor);
  position: relative;
}

.footerDivider {
  width: 100%;
  height: 40px;
  background: url(https://github.com/malunaridev/Vou-Anotar-Papelaria-Digital/blob/a5b796f1f9b6389cc41c3ff5313c4994c24d316c/assets/icons/divider3.gif);
  background-repeat: repeat;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
}
