:root {
    --generalBorders: #283a4b;
    --headerBackground: #00d1e3;
    --logoWindowBackground: #f1f5ff;
    --logoWindowShadow: #bcd3f6;
    --logoWindowHeader: #fc48a0;
    --UIButtonsBackground: #feffed;
}


