:root {
  --socialRowBackground: linear-gradient(
    0deg,
    rgba(241, 101, 178, 1) 0%,
    rgba(254, 138, 202, 1) 50%
  );
  --socialRowTitle: #fff;
  --socialRowTitleShadow: #cd0164;
  --socialIconColor: #1d0745;
  --socialIconHover: #fefd97;
  --headerTransparency: #cab1ee;

  --headerMenuBackground: linear-gradient(
    0deg,
    rgba(170, 124, 249, 1) 0%,
    rgba(205, 172, 251, 1) 78%
  );
  --headerMenuBorder: #6f41ff;

  --allCategoriesBackground: #fb298f;
  --allCategoriesTextColor: #fff;
  --menuProductsTextColor: #fff;
  --menuProductsShadow: #ed4ef8;
  --menuProductsHoverBackground: #fefd97;
  --menuProductsTextColorHover: #7653e3;
  --menuProductsHoverShadow: #fff;
  --menuStarsColor: #fdfb55;

  --mainBackground: #b37ff2;
  --mobileButtonCloseBackground: #b37ff2;

  --leftSidebarBackground: #fceefa;
  --leftSidebarBorderColor: #b77eef;
  --leftSidebarButtonBorder: #fff;
  --leftSidebarButtonGlow: #f554a2;
  --leftSidebarButtonShadow: rgba(244, 31, 255, 0.55);
  --leftSidebarButtonTextColor: #ff42d0;
  --leftSidebarButtonTextBorder: #fff;
  --leftSidebarMenuBorder: #fb298f;
  --leftSidebarMenuBackground: #fff;
  --leftSidebarMenuTextColor: #131313;
  --leftSidebarMenuLeftBorderColor1: #fd8cd2;
  --leftSidebarMenuLeftBorderColor1Hover: #fc67af;
  --leftSidebarMenuLeftBorderColor2: #c084f3;
  --leftSidebarMenuLeftBorderColor2Hover: #a856ef;
  --leftSidebarMenuLeftBorderColor3: #60cbe7;
  --leftSidebarMenuLeftBorderColor3Hover: #3eb9da;

  --mainAreaBackground: #fff;
  --mainAreaBorderColor: #b77eef;
  --carouselBorderColor: #ff83cf;
  --carouselPicturesBorderColor: #606060;
  --mainAreaButtonTextColor: #ff42d0;

  --rightSidebarBackground: #f4eaff;
  --rightSidebarAllNoticesBackground: #fff;
  --rightSidebarAllNoticesOutline: #a856ef;
  --rightSidebarNoticeButtonColor: #fff;
  --rightSidebarNoticeButtonBackground1: #e9bec6;
  --rightSidebarNoticeButtonGlow1: #ff56cf;
  --rightSideNoticeTitleColor1: #e787c1;
  --rightSidebarNoticeButtonBackground2: #ba8fe9;
  --rightSidebarNoticeButtonGlow2: #b268fd;
  --rightSideNoticeTitleColor2: #ba8fe9;
  --rightSidebarNoticeButtonBackground3: #6da9d1;
  --rightSidebarNoticeButtonGlow3: #617cb3;
  --rightSideNoticeTitleColor3: #69a1c5;
  --rightSidebarNoticeButtonBackground4: #a7a3d5;
  --rightSidebarNoticeButtonGlow4: #b18ceb;
  --rightSideNoticeTitleColor4: #a7a3d5;
  --rightSidebarButtonBorder: #fff;
  --rightSidebarButtonGlow: #b25fff;
  --rightSidebarButtonShadow: rgba(136, 31, 255, 0.55);
  --rightSidebarButtonTextColor: #8f1cff;
  --rightSidebarButtonTextBorder: #fff;
  --rightSidebarThemesSelectorBorderBottom: #bc89fc;
  --rightSidebarThemeSelectorText: #fe268f;
  --seeAllThemesStarColor: #fdfb55;

  --productBorderColor: #363636;
  --itemPriceBackgroundColor: #c894fb;
  --itemPriceTextColor: #282828;
}

#headerComponent {
  background: url(../assets/styling/header-background.png);
  background-size: cover;
  background-position: bottom;
}

.digitalResourcesPet {
  background: url(../assets/styling/left-sidebar-cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pet1 {
  content: url(../assets/styling/pet1.png);
  width: 100%;
  height: auto;
}
.pet2 {
  content: url(../assets/styling/pet2.png);
  width: 100%;
  height: auto;
}

.pet3 {
  content: url(../assets/styling/pet3.png);
  width: 100%;
  height: auto;
}

.leftSidebarButton {
  background: url(../assets/styling/button-background.png);
}

.leftSidebarButton:after {
  background: url(../assets/icons/bow-purple.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.rightSidebarButton {
  background: url(../assets/styling/button-background2.png);
}

.rightSidebarButton:after {
  background: url(../../assets/icons/bow-pink.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.divider1 {
  content: url(../assets/icons/divider.gif);
  width: 90%;
  height: auto;
  margin: 20px 0;
}

.divider2 {
  content: url(../assets/icons/divider2.gif);
  width: 90%;
  height: auto;
  margin: 20px 0;
}

.bullet {
  content: url(../assets/icons/bullet.gif);
}

.noticeBoard {
  background: url(../assets/styling/notices-background.png);
}

.allNotices {
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
}


.priceCapIcon1 {
  content: url(../assets/icons/price-cap-1.png);
  height: 70px;
}

.priceCapIcon2 {
  content: url(../assets/icons/price-cap-2.png);
  height: 70px;
}

.priceCapIcon3 {
  content: url(../assets/icons/price-cap-3.png);
  height: 70px;
}

.priceCapIcon4 {
  content: url(../assets/icons/price-cap-4.png);
  height: 70px;
}

.firstItem {
  background: url(../assets/icons/tier-iridium.png);
  background-size: cover;
}

.secondtItem {
  background: url(../assets/icons/tier-gold.png);
  background-size: cover;
}

.thirdItem {
  background: url(../assets/icons/tier-silver.png);
  background-size: cover;
}

.fourthItem {
  background: url(../assets/icons/tier-bronze.png);
  background-size: cover;
}

.ad1 {
  background: url(../assets/ads/ad1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ad2 {
  background: url(../assets/ads/ad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carouselSection {
  width: 100%;
  background: url(../assets/styling/background-1.png);
  height: 750px;
  position: relative;
}

.carouselDivider {
  width: 100%;
  height: 60px;
  background: url(../assets/icons/divider4.gif);
  background-repeat: repeat-x;
  position: absolute;
  bottom: -30px;
}

.mainNewsButton {
  width: 30%;
  background: url(../assets/styling/button-background2.png);
}

.collection1 {
  background: url(../assets/styling/background-2.png);
}

.collection2 {
  background: url(../assets/styling/background-3.png);
}
