/*---------------------------------------------------------------------------------*/
/* Footer */
footer {
  height: 300px;
  background: var(--footerBackground);
  box-shadow: inset 0 0 10px var(--footerGlow);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.footerOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../assets/theme/footer-background.png);
  background-size: cover;
  background-position: bottom;
  opacity: 0.05;
}

.footerCenter {
  width: 73.7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.footerLogo {
  content: url(../assets/icons/footer-logo.png);
  height: 220px;
}

.footerCredits {
  width: 100%;
  background: var(--footerCreditsBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.footerDeco {
  width: 100%;
  height: 42px;
  background: url(../assets/theme/how-to-use-deco.gif);
  background-repeat: repeat-x;
  position: absolute;
  top: -38px;
}
.footerCredits span {
  display: block;
  width: 90%;
  text-align: center;
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
  color: var(--footerCreditsText);
  cursor: default;
}
.footerCredits a {
  color: var(--footerCreditsLink);
}

@media (max-width: 1600px) {
  footer {
    height: 250px;
  }
  .footerLogo {
    height: 180px;
  }
}

@media (max-width: 800px) {
  .footerLogo {
    height: 140px;
  }
}
