@import url("./header.css");
@import url("./leftSidebar.css");
@import url("./rightSidebar.css");
@import url("./colorTheme.css");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: Thixel;
  src: url("../assets/fonts/Thixel.otf");
}
@font-face {
  font-family: FontAwe;
  src: url("../assets/fonts/fa-solid-900.woff2");
}
@font-face {
  font-family: FontAweBrands;
  src: url("../assets/fonts/fa-brands-400.woff2");
}
@font-face {
  font-family: Sparkle;
  src: url("../assets/fonts/Star-Sparkle.ttf");
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--leftSidebarMenuTextColor);
}

a:hover {
  color: var(--mobileButtonCloseBackground);
}

ul {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--mainBackground);
}

.mainArea {
  width: 73.7%;
  background: var(--mainAreaBackground);
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
}

.productCard {
  width: 250px;
  min-height: 270px;
  background: #fbf8fd;
  border: 1px solid var(--productBorderColor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
  position: relative;
}

.starBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  border-radius: 15px;
  background: url(../assets/styling/star-background.png);
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
}

.productPicture {
  height: 200px;
  z-index: 1;
}

.productTitle {
  width: 80%;
  height: 60px;
  font-size: 15px;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 500;
  font-family: "Poppins";
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.collectionItem {
  color: black;
  width: 130px;
  height: 20px;
  position: absolute;
  top: -10px;
  border: 1px solid var(--productBorderColor);
  border-radius: 10px;
  font-family: Thixel;
  text-transform: uppercase;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.itemPrice {
  color: var(--itemPriceTextColor);
  width: 130px;
  height: 28px;
  position: absolute;
  bottom: -10px;
  text-align: center;
  border-radius: 10px;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  background: var(--itemPriceBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.newIcon {
  content: url(../assets/icons/new.gif);
  width: 27px;
  height: 7px;
}

footer {
  height: 300px;
  background: var(--leftSidebarBackground);
  box-shadow: inset 0 0 10px var(--leftSidebarBorderColor);
  position: relative;
}

.footerDivider {
  width: 100%;
  height: 40px;
  background: url(../assets/icons/divider3.gif);
  background-repeat: repeat;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
}

.mainBackground {
  background: url(../assets/styling/button-background2.png);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  position: relative;
}

.productHeader {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  background: white; 
  border: 4px solid var(--leftSidebarMenuLeftBorderColor2);
  border-radius: 40px;
  box-shadow: inset 0 0 10px #e95cb2;
  position: relative;
  gap: 50px;
}

.productBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../assets/styling/header-background.png);
  background-position: bottom;
  background-size: contain;
  z-index: 0;
  opacity: 0.3;
}
.productDivider {
  width: 100%;
  height: 60px;
  background: url(../assets/icons/divider4.gif);
  background-repeat: repeat;
  background-repeat: repeat-x;
  position: absolute;
  bottom: -30px;
  z-index: 1;
}

.productImages {
  width: 30%;
  height: 650px;
  z-index: 1;
  background: white;
  padding: 20px;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productThumb {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.productMainInfo {
  width: 40%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  z-index: 1;
  background: white;
  padding: 20px;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
}

.nameArea {
  display: flex;
  flex-direction: column;
}

.previousLink a {
  color: var(--itemPriceBackgroundColor);
}

.previousLink a:hover {
  color: var(--menuProductsTextColorHover);
}

.productType {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: default;
}

.productName {
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 70px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 5px;
  cursor: default;
}

.productCode {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: darkgray;
  cursor: default;
}

.productInfo {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: default;
}

.productVariables {
  display: flex;
  gap: 5px;
}

.productOption {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: red;
  border: 1px solid black;
}

.pricingArea {
  display: flex;
  flex-direction: column;
}

.productPricing {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
  color: var(--itemPriceBackgroundColor);
  cursor: default;
}

.buyArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buyButton {
  padding: 15px 70px;
  border: none;
  background: #fb94ce;
  cursor: pointer;
  border-radius: 20px;
  outline: 2px dotted white;
  outline-offset: -7px;
  border: 2px solid var(--leftSidebarButtonBorder);
  box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -moz-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  z-index: 2;
}

.buyButton:hover {
  background: var(--socialRowTitleShadow);
  transition: 500ms;
}

.buyButton a {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
}

@media (max-width: 2400px) {
  #weeklyChoices .productCard,
  #weeklyChoicesMobile .productCard,
  #mostLoved .productCard,
  #mostLovedMobile .productCard {
    width: 95%;
    min-height: auto;
  }
  #weeklyChoices .productPicture,
  #mostLoved .productPicture {
    height: auto;
    width: 80%;
  }
  #weeklyChoices .productTitle,
  #mostLoved .productTitle {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 2000px) {
  .allNotices {
    padding: 0;
    width: 60%;
    border: 5px solid transparent;
  }
  .notice {
    flex-direction: column;
  }
  .noticeTitle,
  .noticeDescription {
    text-align: center;
  }
  .collectionContent {
    width: 95%;
  }
}

@media (max-width: 1600px) {
  .mainNewsButton {
    width: 50%;
  }
  .menuproductCategory {
    font-size: 13px;
  }
  .pricesMenu {
    flex-direction: column;
  }
  .priceCap {
    width: 90%;
  }
  .seeAllThemes {
    justify-content: center;
  }
  .collectionContent {
    width: 93%;
  }
}

@media (max-width: 1400px) {
  .menuproductCategory {
    font-size: 12px;
    line-height: 15px;
    padding: 0 1%;
  }
  .menuProductCategories {
    gap: 0;
  }
}

@media (max-width: 1200px) {
  #weeklyChoices .itemPrice,
  #mostLoved .itemPrice {
    font-size: 15px;
    width: 90px;
  }
  #weeklyChoices .collectionItem,
  #mostLoved .collectionItem {
    width: 90px;
    font-size: 15px;
  }
  .headerBackground {
    height: 170px;
  }
  a .headerLogo {
    height: 120px;
  }
  .carouselSection {
    height: 550px;
  }
  .carouselDivider {
    bottom: -35px;
  }
  .productTitle {
    font-size: 13px;
  }
  .productCard {
    width: 30%;
  }
  .collectionContent {
    width: 91%;
  }
}

@media (max-width: 1000px) {
  .digitalResourcesTypes,
  .noticeDescription,
  .themeOption {
    font-size: 11px;
  }
  .noticeTitle {
    font-size: 16px;
    line-height: 12px;
  }
  .carouselBorder {
    padding: 10px 8px 15px;
  }
}

@media (max-width: 900px) {
  .stickyMenu {
    position: absolute;
    height: 100%;
  }

  .headerMenu {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  #leftSidebarComponent,
  #rightSidebarComponent {
    display: none;
  }
  .mainArea {
    width: 99.9%;
    margin-top: 44px;
  }
  .menuProductCategories {
    display: none;
  }
  .headerCategories {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .mainArea {
    width: 99.9%;
    margin-top: 35px;
  }
  .mainNewsButton {
    width: 80%;
  }
  .carouselBorder {
    width: 90%;
  }
  .carouselSection {
    height: 470px;
  }
  .carouselDivider {
    bottom: -40px;
  }
  .productCard {
    width: 45%;
  }
  .collectionsGrid {
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .collectionCard {
    width: 100%;
    height: 400px;
  }
  .collectionBorder {
    width: 95%;
  }
  .collectionContent {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .menuCategories {
    font-size: 18px;
  }
  .burgerMenu {
    font-size: 20px;
  }
  .collectionContent {
    width: 93%;
  }
}

@media (max-width: 420px) {
  .socialIcon,
  .websiteTitle {
    font-size: 17px;
  }
  .headerMenu {
    height: 30px;
  }
  .menuCategories {
    font-size: 15px;
  }
  a .headerLogo {
    height: 110px;
  }
  .collectionContent {
    width: 91%;
  }
}
