.socialRow {
  width: 100%;
  height: 35px;
  background: var(--socialRowBackground);
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialRowDelimiter {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.websiteTitle {
  font-family: "Thixel";
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--socialRowTitle);
  text-shadow: 2px 2px var(--socialRowTitleShadow);
  letter-spacing: 1px;
  cursor: default;
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton {
  height: 35px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton:hover {
  background: var(--socialIconHover);
  transition: 500ms;
}

.socialIcon {
  font-family: "FontAweBrands";
  font-size: 2rem;
  text-decoration: none;
  color: var(--socialIconColor);
}

.headerBackground {
  height: 200px;
  background: var(--headerBackgroundImage);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: bottom;
}

.headerGradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    var(--headerTransparency)
  );
}

.headerLogo {
  height: 150px;
  z-index: 1;
}

.headerMenu {
  width: 100%;
  height: 40px;
  background: var(--headerMenuBackground);
  border-top: 2px solid var(--headerMenuBorder);
  border-bottom: 2px solid var(--headerMenuBorder);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
}

.headerCategories {
  background: var(--allCategoriesBackground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  height: 100%;
  margin-left: 5%;
  border-radius: 15px;
  padding: 0 25px;
  cursor: pointer;
}

.burgerMenu {
  font-family: "FontAwe";
  color: var(--allCategoriesTextColor);
  font-size: 2.7rem;
  text-shadow: 2px 2px var(--socialRowTitleShadow);
}

.menuCategories {
  width: 270px;
  font-family: "Thixel";
  color: var(--allCategoriesTextColor);
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.7rem;
}

.menuProductCategories {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.menuproductCategory {
  height: 100%;
  list-style: none;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
  color: var(--menuProductsTextColor);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px var(--menuProductsShadow);
  cursor: default;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.menuproductCategory:hover {
  background: var(--menuProductsHoverBackground);
  color: var(--menuProductsTextColorHover);
  text-shadow: 2px 2px var(--menuProductsHoverShadow);
  transition: 500ms;
}

.starSparkle {
  font-family: "Sparkle";
  font-size: 4rem;
  line-height: 1px;
  color: var(--menuStarsColor);
  cursor: default;
}

@media (max-width: 1500px) {
  .socialRowDelimiter {
    width: 95%;
  }

  .headerCategories {
    margin-left: 2%;
  }

  .headerMenu {
    height: 35px;
  }

  .burgerMenu {
    font-size: 2rem;
  }

  .menuCategories {
    width: 240px;
    font-size: 2rem;
  }

  .menuproductCategory {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 0 10px;
  }
}
