/*---------------------------------------------------------------------------------*/
/* General Config */
.leftSidebar {
  width: 13%;
  background: var(--leftSidebarBackground);
  box-shadow: inset 0 0 10px var(--leftSidebarBorderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*---------------------------------------------------------------------------------*/
/* Material Section */
.digitalMaterialSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.digitalMaterialDeco {
  background: url(../assets/theme/material-section-cloud.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  padding: 0 10%;
}
.digitalMaterialDeco2 {
  width: 220px;
  height: 260px;
  content: url(../assets/theme/material-section-deco.png);
  width: 100%;
  height: auto;
}
.leftSidebarTitle1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  top: -20px;
  border: 2px solid var(--leftSidebarTitle1Border);
  box-shadow: inset -3px -3px 10px var(--leftSidebarTitle1Glow),
    4px 5px 18px -5px var(--leftSidebarTitle1Shadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--leftSidebarTitle1Glow),
    4px 5px 18px -5px var(--leftSidebarTitle1Shadow);
  -moz-box-shadow: inset -3px -3px 10px var(--leftSidebarTitle1Glow),
    4px 5px 18px -5px var(--leftSidebarTitle1Shadow);
  z-index: 2;
  background: url(../assets/theme/button-background.png);
}
.leftSidebarTitle1:after {
  content: "";
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  z-index: 3;
  background: url(../assets/theme/button-deco.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.leftSidebarTitle1Text {
  font-family: "Thixel";
  color: var(--leftSidebarTitle1TextColor);
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  text-shadow: 3px 0 var(--leftSidebarTitle1TextBorder),
    -3px 0 var(--leftSidebarTitle1TextBorder),
    0 3px var(--leftSidebarTitle1TextBorder),
    0 -3px var(--leftSidebarTitle1TextBorder),
    2px 2px var(--leftSidebarTitle1TextBorder),
    -2px -2px var(--leftSidebarTitle1TextBorder),
    2px -2px var(--leftSidebarTitle1TextBorder),
    -2px 2px var(--leftSidebarTitle1TextBorder);
  cursor: default;
}
.digitalMaterialSummary {
  width: 90%;
  background: var(--leftSidebarMenuBackground);
  border: 1px solid var(--leftSidebarMenuBorder);
  padding-top: 40px;
  position: relative;
  top: -30px;
}
.digitalMaterialType {
  list-style: none;
  margin: 1px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: var(--leftSidebarMenuTextColor);
  padding: 6px 6px 6px 8px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  align-items: center;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  word-break: break-word;
}
.digitalMaterialType:hover {
  padding-left: 16px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.type1 {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor1);
  border-bottom: 1px solid var(--leftSidebarMenuLeftBorderColor1);
}
.type1:hover {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor1Hover);
}
.type2 {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor2);
  border-bottom: 1px solid var(--leftSidebarMenuLeftBorderColor2);
}
.type2:hover {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor2Hover);
}
.type3 {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor3);
  border-bottom: 1px solid var(--leftSidebarMenuLeftBorderColor3);
}
.type3:hover {
  border-left: 6px solid var(--leftSidebarMenuLeftBorderColor3Hover);
}
.leftSidebarDeco {
  content: url(../assets/theme/left-sidebar-deco.gif);
  width: 90%;
  height: auto;
  margin: 20px 0;
}

/*---------------------------------------------------------------------------------*/
/* Accessories Section */
.digitalAcessoriesSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.digitalMaterialDeco3 {
  width: 240px;
  height: 230px;
  content: url(../assets/theme/digital-section-deco.png);
  width: 100%;
  height: auto;
}

/*---------------------------------------------------------------------------------*/
/* Print Section */
.printSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.digitalMaterialDeco4 {
  width: 220px;
  height: 230px;
  content: url(../assets/theme/print-section-deco.png);
  width: 100%;
  height: auto;
}

/*---------------------------------------------------------------------------------*/
/* Weekly Choices Section */
.randomChoicesSection {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background: var(--leftSidebarMenuBackground);
  border: 1px solid var(--leftSidebarMenuBorder);
  margin: 25px 0;
}
#randomChoices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 40px;
  gap: 50px;
}

/*---------------------------------------------------------------------------------*/
/* AD Windows */
.adWindow {
  width: 100%;
  height: 200px;
  margin: 30px 0;
}
.ad1 {
  background: url(../assets/marketing/ad1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 2400px) {
  #randomChoices .productCard,
  #randomChoicesMobile .productCard {
    width: 95%;
    min-height: auto;
  }
  #randomChoices .productPicture {
    height: auto;
    width: 80%;
  }
  #randomChoices .productTitle {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 1600px) {
  .digitalMaterialType {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 1200px) {
  #randomChoices .itemPrice {
    font-size: 15px;
    width: 90px;
  }
  #randomChoices .collectionItem {
    width: 90px;
    font-size: 15px;
  }
}

@media (max-width: 1100px) {
  #randomChoices .productTitle {
    font-size: 11px;
    line-height: 13px;
  }
  .leftSidebarTitle1Text {
    font-size: 18px;
    line-height: 15px;
  }
}

@media (max-width: 900px) {
  .digitalMaterialType {
    font-size: 11px;
    line-height: 14px;
  }
}

@media (max-width: 800px) {
  #leftSidebarComponent {
    display: none;
  }
}
