/*---------------------------------------------------------------------------------*/
/* Homepage Carousel */
.homepageCarousel {
  width: 100%;
  height: 750px;
  position: relative;
}
.homepageCarouselBorder {
  width: 96%;
  height: 90%;
  padding: 1%;
  border-radius: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--homepageCarouselBackgroundColor);
  outline: 4px dashed var(--homepageCarouselBorderColor);
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.homepageCarouselPictures {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid var(--homepageCarouselPicturesBorderColor);
}
.homepageCarouselPictures > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  opacity: 0;
  animation: display 10s infinite;
}
.homepageCarouselPictures img:nth-child(2) {
  animation-delay: 2s;
}
.homepageCarouselPictures img:nth-child(3) {
  animation-delay: 4s;
}
.homepageCarouselPictures img:nth-child(4) {
  animation-delay: 6s;
}
.homepageCarouselPictures img:nth-child(5) {
  animation-delay: 8s;
}
.homepageCarouselDeco {
  width: 100%;
  position: absolute;
  bottom: -30px;
}

/*---------------------------------------------------------------------------------*/
/* Homepage News */
.homepageRecentProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  position: relative;
}

/*---------------------------------------------------------------------------------*/
/* Title Buttons */
.titleButton1 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  border: 2px solid var(--titleButton1Border);
  box-shadow: inset -3px -3px 10px var(--titleButton1Glow),
    4px 5px 18px -5px var(--titleButton1Shadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--titleButton1Glow),
    4px 5px 18px -5px var(--titleButton1Shadow);
  -moz-box-shadow: inset -3px -3px 10px var(--titleButton1Glow),
    4px 5px 18px -5px var(--titleButton1Shadow);
}
.titleButton1Text {
  font-family: "Thixel";
  color: var(--titleButton1TextColor);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  text-shadow: 3px 0 var(--titleButton1TextBorder),
    -3px 0 var(--titleButton1TextBorder), 0 3px var(--titleButton1TextBorder),
    0 -3px var(--titleButton1TextBorder), 2px 2px var(--titleButton1TextBorder),
    -2px -2px var(--titleButton1TextBorder),
    2px -2px var(--titleButton1TextBorder),
    -2px 2px var(--titleButton1TextBorder);
  cursor: default;
}
.titleButton2 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  border: 2px solid var(--titleButton2Border);
  box-shadow: inset -3px -3px 10px var(--titleButton2Glow),
    4px 5px 18px -5px var(--titleButton2Shadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--titleButton2Glow),
    4px 5px 18px -5px var(--titleButton2Shadow);
  -moz-box-shadow: inset -3px -3px 10px var(--titleButton2Glow),
    4px 5px 18px -5px var(--titleButton2Shadow);
}
.titleButton2Text {
  font-family: "Thixel";
  color: var(--titleButton1TextColor);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  text-shadow: 3px 0 var(--titleButton1TextBorder),
    -3px 0 var(--titleButton1TextBorder), 0 3px var(--titleButton1TextBorder),
    0 -3px var(--titleButton1TextBorder), 2px 2px var(--titleButton1TextBorder),
    -2px -2px var(--titleButton1TextBorder),
    2px -2px var(--titleButton1TextBorder),
    -2px 2px var(--titleButton1TextBorder);
  cursor: default;
}

/*---------------------------------------------------------------------------------*/
/* Recent Products */
#homepageRecentProductsGrid {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 50px;
}

/*---------------------------------------------------------------------------------*/
/* How to Use the Materials */
.howToUse {
  width: 100%;
  background-color: var(--howToUseBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0 100px;
  box-shadow: inset 0 0 10px var(--howToUseSectionGlow);
  position: relative;
}
.howToUseStarOverlay {
  width: 100%;
  height: 99%;
  background: url(../assets/styling/star-background.png);
  position: absolute;
  z-index: 0;
  bottom: 0;
  opacity: 0.8;
}
.howToUseStarIcon {
  height: 100px;
  width: 250px;
  background: url(../assets/icons/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 20px;
  top: -50px;
}
.howToUseGrid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  z-index: 1;
}
.howToUseCard {
  width: 20%;
  background: white;
  outline: 3px dotted var(--howToUseCardBorder);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 0 20px;
  border-radius: 10px;
  position: relative;
}
.howToUseCardDecoration {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}
.howToUseCardImage {
  height: 100px;
}
.howToUseCardText {
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  cursor: default;
}
.howToUseCardText span {
  border-bottom-style: dotted;
  border-bottom-color: var(--howToUseCardTextDecoration);
}

/*---------------------------------------------------------------------------------*/
/* Collection Showcase */
.collectionShowcase {
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.collectionShowcaseCard {
  width: 50%;
  height: 50%;
}
.collectionShowcaseCardDashedBorder {
  width: 94%;
  height: 90%;
  background: white;
  padding: 1%;
  border-radius: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 4px dashed white;
  outline-offset: -10px;
}
.collectionShowcaseCardGradient1 {
  background: var(--collectionShowcaseCardGradient1);
}
.collectionShowcaseCardGradient2 {
  background: var(--collectionShowcaseCardGradient2);
}
.collectionShowcaseCardGradient3 {
  background: var(--collectionShowcaseCardGradient3);
}
.collectionShowcaseCardGradient4 {
  background: var(--collectionShowcaseCardGradient4);
}
.collectionShowcaseCardContent {
  width: 96%;
  height: 92%;
  padding: 1%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


/*---------------------------------------------------------------------------------*/
/* Planner Yourself Today */
.plannerToday {
  width: 100%;
  background: var(--mainAreaBackground);
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

.plannerDivider {
  width: 100%;
  height: 60px;
  background: url(../assets/icons/divider5.gif);
  background-repeat: repeat-x;
  position: absolute;
  top: 10px;
}

.topProduct1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  position: relative;
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
}

.kittyGif2 {
  height: 100px;
  width: 120px;
  background: url(../assets/icons/kitty2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;
  top: -80px;
}

#sideProductGrid1 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

#sideProductImage {
  width: 49%;
  height: 600px;
}

.sideImage {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.promoCombos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 50px;
  position: relative;
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
}

.promoBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../assets/styling/promo-background.jpeg);
  opacity: 0.1;
}

@media (max-width: 1600px) {
  .stepExample {
    width: 25%;
  }
  .stepsList {
    gap: 3%;
  }
}

@media (max-width: 1400px) {
  .stepExample {
    min-height: 250px;
  }
}

@media (max-width: 1000px) {
  .stepsList {
    flex-direction: column;
    gap: 50px;
  }
  .stepExample {
    width: 85%;
    flex-direction: row;
    min-height: auto;
  }
  .starIcon {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .stepExample {
    width: 75%;
    flex-direction: column;
  }
}
