.mainProductBackground {
  width: 98%;
  background: url(../assets/styling/button-background2.png);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
  position: relative;
}

.productHeader {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  background: white;
  border: 4px solid var(--leftSidebarMenuLeftBorderColor2);
  border-radius: 40px;
  box-shadow: inset 0 0 10px #e95cb2;
  position: relative;
  gap: 50px;
  overflow: hidden;
}

.productBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../assets/styling/header-background.png);
  background-position: bottom;
  background-size: cover;
  z-index: 0;
  opacity: 0.6;
}

.productImages {
  width: 30%;
  height: 650px;
  z-index: 1;
  background: white;
  padding: 20px;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px dotted var(--leftSidebarMenuLeftBorderColor1);
  border-radius: 30px;
}

.productThumb {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.productThumbMobile {
  height: 45%;
  display: none;
}

.productMainInfo {
  width: 40%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  background: white;
  padding: 20px;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
  outline: 3px dotted var(--mainAreaBorderColor);
  border-radius: 30px;
}

.nameArea {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.previousLink {
  width: 100%;
  height: 40px;
  background: var(--headerMenuBackground);
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  outline: 2px dotted white;
  outline-offset: -5px;
}

.previousLink::after {
  content: "";
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: -15px;
  right: 10px;
  background: url(../../assets/icons/bow-pink.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.previousLink a {
  color: white;
  padding-left: 20px;
  font-family: thixel;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 13px;
  font-weight: 400;
}

.previousLink a:hover {
  color: var(--menuProductsTextColorHover);
  transition: 500ms;
}

.productType {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: default;
}

.productName {
  font-family: "Thixel";
  color: #414141;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 5px;
  cursor: default;
}

.productCode {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: darkgray;
  cursor: default;
}

.productInfo {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: default;
}

.productVariables {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.productOption {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: red;
  border: 1px solid black;
}

.pricingArea {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.productPricing {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
  color: var(--itemPriceBackgroundColor);
  cursor: default;
}

.buyArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.buyButton {
  padding: 12px 70px;
  border: none;
  background: #fb94ce;
  cursor: pointer;
  border-radius: 20px;
  outline: 2px dotted white;
  outline-offset: -7px;
  border: 2px solid var(--leftSidebarButtonBorder);
  box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -moz-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  z-index: 2;
}

.buyButton:hover {
  background: var(--socialRowTitleShadow);
  transition: 500ms;
}

.buyButton a {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.buyIcon {
  height: 35px;
}

.centeredMainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.allInfoArea {
  width: 95%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 40px;
  outline: 4px dotted var(--leftSidebarMenuLeftBorderColor1);
  outline-offset: 15px;
}

.windowedHeader {
  height: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    90deg,
    rgba(242, 187, 189, 1) 22%,
    rgba(194, 237, 225, 1) 77%
  );
  text-align: left;
  border-radius: 20px 20px 0 0;
}

.windowedHeaderText {
  font-family: "Thixel";
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  color: #fff;
  text-shadow: 2px 2px var(--socialRowTitleShadow);
  position: relative;
  padding: 0px 16px;
  margin: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  cursor: default;
  display: flex;
  align-items: center;
}

.windowedHeaderIcons {
  font-family: "FontAwe";
  display: flex;
  gap: 15px;
  align-items: center;
  color: white;
  padding-right: 10px;
  font-size: 13px;
  cursor: default;
}

.productHeading {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.productHeadingPicture {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-bottom: 5px solid #75e1a6;
  position: relative;
}

.productHeadingPictureGradient {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(240, 197, 124, 0.8)
  );
  z-index: 1;
}

.productHeadingTitle {
  background: white;
  padding: 10px 50px;
  position: absolute;
  bottom: 0;
  text-align: center;
  border-radius: 70px 70px 0 0;
  border: 5px solid #75e1a6;
  border-bottom: none;
  cursor: default;
  z-index: 2;
}

.productHeadingType {
  color: var(--leftSidebarMenuTextColor);
  font-weight: 600;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
}

.productHeadingName {
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 65px;
  line-height: 40px;
  color: #c81e33;
}

.productDivider {
  width: 100%;
  height: 40px;
  background: url(../assets/products/cd/cd01/divider.png);
  background-repeat: repeat-x;
  background-size: contain;
  margin: 10px 0;
}

.introProductInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.introTextInfo {
  width: 49%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
}

.introContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textHeading1,
.textHeading2,
.textHeading3 {
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 45px;
  line-height: 40px;
  color: #6db585;
  text-align: center;
}

.textHeading2 {
  color: #fa7674;
}

.textHeading3 {
  color: #7495fa;
}

.introTextDescription {
  width: 80%;
  display: block;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 500;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  cursor: default;
}

.descriptionStripes {
  width: 80%;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.descriptionStripe {
  background: green;
  outline: 2px dotted white;
  outline-offset: -7px;
  padding: 15px 30px;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  cursor: default;
}

.stripeIcon {
  height: 30px;
}

.introTableInfo {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.infoTableBorder {
  width: 95%;
  border: 2px solid black;
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  outline: 2px dotted green;
  outline-offset: -7px;
  background: red;
}

.infoTableBorderText {
  color: var(--leftSidebarMenuTextColor);
  font-weight: 700;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  top: -20px;
  background: white;
  border: 2px solid black;
  padding: 5px 20px;
  border-radius: 20px;
}

.infoTableBlock {
  width: 100%;
  background: pink;
  padding: 10px 0;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  z-index: 2;
}

.pageCounter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 45px;
  line-height: 40px;
  color: #6db585;
  gap: 20px;
}

.pageCounter span,
.infoTableBlockSide span,
.infoTableBlockSide span {
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 65px;
  line-height: 40px;
  color: #6db585;
  text-align: center;
}

.detailTableText {
  color: var(--leftSidebarMenuTextColor);
  font-weight: 500;
  font-family: "Poppins";
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: none;
}

.dividerBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.infoTableBlockSide {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: pink;
  padding: 10px;
  font-family: "Thixel";
  text-transform: uppercase;
  font-size: 30px;
  line-height: 24px;
  color: #6db585;
  text-align: center;
}

.preview1 {
  height: 300px;
  margin-bottom: 20px;
}

.fillTypes {
  background: blue;
  margin-top: 40px;
}

.fillsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allFills {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  margin-bottom: 40px;
}

.fill {
  width: 100px;
  height: 100px;
  background: pink;
  border-radius: 50px;
  z-index: 2;
  border: 2px solid #c8c9c9;
}

.fill:hover {
  transform: scale(300%);
  z-index: 5;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 2px solid #00ffff;
}

.specialFills {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -13px;
  border: 3px dotted var(--rightSidebarAllNoticesOutline);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 1;
}

.specialFillsText {
  font-family: "Thixel";
  color: var(--leftSidebarButtonTextColor);
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
  cursor: default;
  position: absolute;
  top: -25px;
  padding: 5px 20px;
  border-radius: 20px;
}

.textDescriptionMini {
  font-family: "Poppins";
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
}

.devicesTypes {
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px 0;
  margin-top: 40px;
  background: #75e1a6;
  text-align: center;
  outline: 2px dotted white;
  outline-offset: -7px;
}

.deviceSide {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.deviceText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forDevices {
  width: 300px;
  justify-self: end;
}

.otherDetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px 0;
}

.allOtherDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.otherDetail {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  outline: 2px dotted green;
  outline-offset: -9px;
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
}

.secondDetail,
.forthDetail {
  margin-top: 120px;
}

.otherDetailswindowedHeader {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: linear-gradient(
    90deg,
    rgba(242, 187, 189, 1) 22%,
    rgba(194, 237, 225, 1) 77%
  );
  text-align: left;
  position: absolute;
  top: 0;
  z-index: 1;
}

.otherDetailswindowedText {
  font-family: "Thixel";
  color: var(--leftSidebarButtonTextColor);
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 17px;
  padding-left: 10px;
}

.otherDetailImage {
  width: 90%;
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 40px;
}

.specialDetailWindow {
  width: 100%;
  background: red;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.specialDetailText {
  width: 90%;
  font-family: "Thixel";
  color: var(--leftSidebarButtonTextColor);
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
}

.yourPurchase {
  width: 98.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/styling/button-background.png);
  padding: 20px 10px;
  margin-top: 50px;
}

.whatComesContent {
  width: 100%;
  background: white;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
  margin: 20px 30px;
  outline: 3px dotted var(--mainAreaBorderColor);
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 30px 0;
}

.bowLeft {
  background: url(../assets/icons/bow-purple.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 30px;
  position: absolute;
  top: -30px;
  left: -40px;
  z-index: 2;
}

.bowRight {
  background: url(../assets/icons/bow-purple.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 30px;
  position: absolute;
  top: -30px;
  right: -40px;
  z-index: 2;
}

.cartColumn,
.cartColumn2 {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  min-height: 350px;
}

.cartIcon {
  width: 100px;
}

.whatComesItem {
  width: 80%;
  padding: 12px 0;
  background: #fb94ce;
  border-radius: 20px;
  outline: 2px dotted white;
  outline-offset: -7px;
  border: 2px solid var(--leftSidebarButtonBorder);
  box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  -moz-box-shadow: inset -3px -3px 10px var(--leftSidebarButtonGlow),
    4px 5px 18px -5px var(--leftSidebarButtonShadow);
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: default;
}

.freebiesGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.freebieCard {
  width: 21%;
  box-shadow: inset 0 0 10px var(--mainAreaBorderColor);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  outline: 2px dotted green;
  outline-offset: -5px;
}

.freebieCardImage {
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.freebieDescription,
.otherInfoText {
  display: block;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 2px;
  text-align: center;
}

.specialFreebie {
  background: #f3e9ff;
  position: relative;
}

.specialFreebie::after {
  content: "";
  background: url(../assets/icons/bow-pink.gif);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 60px;
  position: absolute;
  top: -30px;
}

.technicalInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/styling/notices-background.png);
}

.allTechnicalInfo {
  width: 100%;
  background: white;
  border: 15px solid transparent;
  border-image: url(../assets/styling/lace-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
  margin: 20px;
  outline: 3px dotted var(--mainAreaBorderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.tableArea {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technicalInfoTable {
  width: 70%;
}

.technicalTopic {
  width: 170px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 12px;
  letter-spacing: 2px;
  background: #feeef6;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}

.technicalStarSparkle {
  font-family: "Sparkle";
  font-size: 20px;
  color: red;
  cursor: default;
  margin-right: 7px;
}

.technicalDescription {
  width: 100%;
  padding-left: 10px;
  font-family: "Poppins";
  font-size: 13px;
  border-bottom: 0.5px solid #f0f0f0;
  cursor: default;
}

.otherTechnicalInfo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.otherInfo {
  width: 40%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  outline: 3px dotted var(--mainAreaBorderColor);
}

.otherInfoImage {
  width: 100px;
  margin-bottom: 10px;
}

.bottomMenu {
  width: 97%;
  height: 75px;
  position: fixed;
  bottom: 0;
  background-color: red;
  transition: all 0.5s;
  z-index: 10;
}

.hide {
  opacity: 0;
  z-index: -1;
}
.show {
  opacity: 1;
  z-index: 10;
}

@media (max-width: 2200px) {
  .otherInfo {
    width: 35%;
  }
  .freebieCardImage {
    width: 120px;
  }
  .cartColumn2 {
    width: 30%;
  }
  .cartColumn2 {
    width: 70%;
  }
  .preview1 {
    height: 250px;
  }
  .introTextInfo {
    width: 54%;
    padding: 0;
  }
  .infoTableBlockSide {
    min-height: 380px;
  }
  .whatComesContent {
    align-items: start;
  }
}

@media (max-width: 1800px) {
  .freebieCard {
    width: 40%;
    flex-direction: row;
    gap: 10px;
  }
  .freebieCardImage {
    margin-bottom: 0px;
    margin-left: 8px;
  }
  .infoTableBlockSide {
    font-size: 25px;
    line-height: 21px;
  }
  .detailTableText {
    font-size: 14px;
    line-height: 18px;
  }
  .fill {
    width: 80px;
    height: 80px;
  }
  .specialFills {
    width: 210px;
    height: 210px;
    right: 36px;
  }
  .whatComesItem {
    width: 90%;
  }
  .productHeadingPicture {
    height: 500px;
  }
}

@media (max-width: 1600px) {
  .introProductInfo {
    flex-direction: column;
    gap: 100px;
  }
  .introTextInfo {
    width: 100%;
    height: auto;
  }
  .introContent {
    margin-top: 30px;
  }
  .fillsContent {
    margin-top: 100px;
  }
  .introTableInfo {
    width: 95%;
  }
  .otherDetail {
    width: 42%;
  }
  .secondDetail,
  .forthDetail {
    margin-top: 50px;
  }
  .introTextDescription {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 1500px) {
  .freebieDescription,
  .otherInfoText {
    font-size: 11px;
    line-height: 13px;
  }
  .otherInfoImage {
    width: 50px;
    margin-bottom: 0;
  }
  .otherInfo {
    width: 100%;
    flex-direction: row;
  }
  .allInfoArea {
    outline-offset: 5px;
  }
}

@media (max-width: 1300px) {
  .devicesTypes {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }
  .deviceSide {
    width: 100%;
    gap: 30px;
  }
  .freebieCard {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .whatComesContent {
    flex-direction: column;
    gap: 30px;
  }
  .cartColumn,
  .cartColumn2 {
    width: 100%;
  }
  .technicalTopic {
    font-size: 11px;
  }
  .otherInfo {
    gap: 10px;
    padding: 15px;
  }
}

@media (max-width: 800px) {
  .fill {
    width: 100px;
    height: 100px;
  }
  .specialFills {
    width: 250px;
    height: 250px;
    right: -13px;
  }
  .tableArea {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .technicalInfoTable,
  .otherTechnicalInfo {
    width: 100%;
  }
  .otherInfo {
    width: 40%;
  }
}

@media (max-width: 700px) {
  .fill {
    width: 80px;
    height: 80px;
  }
  .specialFills {
    width: 210px;
    height: 210px;
    right: 36px;
  }
  .otherDetail {
    width: 90%;
  }
  .secondDetail,
  .forthDetail {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .allFills {
    width: 70%;
    margin-bottom: 90px;
  }
  .fill {
    width: 150px;
    height: 150px;
    border-radius: 100px;
  }
  .specialFills {
    width: 360px;
    height: 360px;
    right: 16px;
    bottom: -20px;
  }
  .specialFillsText {
    bottom: -25px;
    top: initial;
  }
}
