@media (max-width: 1700px) {
  .socialRow {
    height: 30px;
  }
  .headerBackground {
    height: 170px;
  }
  .headerLogo {
    height: 120px;
  }
  .headerMenu {
    height: 30px;
  }
  .headerCategories {
    border-radius: 5px;
  }
  .menuCategories {
    width: 250px;
    font-size: 2rem;
  }
  .menuproductCategory {
    font-size: 1.2rem;
  }
  .noticeDescription {
    font-size: 1rem;
  }
  .carouselSection {
    height: 550px;
  }
  .carouselDivider {
    bottom: -40px;
  }
  .productTitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 1400px) {
  .socialRow {
    height: 20px;
  }
  .socialIcon {
    font-size: 1.4rem;
  }
  .websiteTitle {
    font-size: 1.2rem;
  }
  .headerBackground {
    height: 100px;
  }
  .headerLogo {
    height: 70px;
  }
  .menuproductCategory {
    font-size: 0.8rem;
  }
  .burgerMenu {
    font-size: 1.4rem;
  }
  .menuCategories {
    width: 180px;
    font-size: 1.4rem;
  }
  .leftSidebar,
  .rightSidebar {
    width: 12%;
  }
  .mainArea {
    width: 72.6%;
  }
  .leftSidebarText {
    font-size: 1.2rem;
  }
  .digitalResourcesMenu {
    padding-top: 30px;
  }
  .digitalResourcesTypes {
    font-size: 0.6rem;
    padding: 3px 3px 3px 6px;
  }
  .leftSidebarButton {
    padding: 5px 0;
  }
  .leftSidebarButton::after {
    width: 40px;
    height: 15px;   
    bottom: -10px;
  }
}
