/*---------------------------------------------------------------------------------*/
/* General Configs */
.rightSidebar {
  width: 13%;
  background: var(--rightSidebarBackground);
  box-shadow: inset 0 0 10px var(--rightSidebarBorderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.rightSidebarWindowContent {
  width: 90%;
  background: var(--rightSidebarWindowContentBackground);
  border: 4px solid var(--rightSidebarWindowContentBorder);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 4px var(--rightSidebarWindowContentShadow);
  margin-top: 20px;
}

.rightSidebarWindowContentHeader {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.rightSidebarWindowContentTitle {
  font-family: "Thixel";
  color: var(--rightSidebarWindowContentTitleColor);
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: default;
}

.rightSidebarWindowContentButtons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSidebarWindowContentButtonIcon {
  font-family: FontAwe;
  font-size: 14px;
  cursor: default;
  color: var(--rightSidebarWindowContentIconsColor);
}

.rightSidebarWindowContentMenu {
  width: 93%;
  background: var(--rightSidebarWindowContentMenuBackground);
  border: 2px solid var(--rightSidebarWindowContentMenuBorder);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}


/*---------------------------------------------------------------------------------*/
/* Features Board */
.featuresBoard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../assets/theme/features-background.png);
}
.featuresList {
  background: var(--rightSidebarfeaturesListBackground);
  width: 70%;
  padding: 0 10px;
  margin: 20px 0;
  border-radius: 10px;
  outline: 3px dotted var(--rightSidebarFeaturesListOutline);
  border: 15px solid transparent;
  border-image: url(../assets/theme/features-section-border.png) 50 round;
  border-image-outset: 1;
  border-radius: 10px;
}
.features {
  display: flex;
  align-items: center;
  gap: 10px;
}
.featureButton {
  min-width: 40px;
  min-height: 40px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  line-height: 1px;
  color: var(--rightSidebarFeaturesButtonColor);
  cursor: default;
}
.featureButton1 {
  font-family: "Sparkle";
  font-size: 35px;
  background: var(--rightSidebarFeaturesButtonBackground1);
  box-shadow: inset 0 0 10px var(--rightSidebarFeaturesButtonGlow1);
}
.featureButton2 {
  font-family: "FontAwe";
  font-size: 25px;
  background: var(--rightSidebarFeaturesButtonBackground2);
  box-shadow: inset 0 0 10px var(--rightSidebarFeaturesButtonGlow2);
}
.featureButton3 {
  font-family: "FontAweBrands";
  font-size: 30px;
  background: var(--rightSidebarFeaturesButtonBackground3);
  box-shadow: inset 0 0 10px var(--rightSidebarFeaturesButtonGlow3);
}
.featureButton4 {
  font-family: "FontAwe";
  font-size: 25px;
  background: var(--rightSidebarFeaturesButtonBackground4);
  box-shadow: inset 0 0 10px var(--rightSidebarFeaturesButtonGlow4);
}
.featureTitle {
  font-family: "Thixel";
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 14px;
  cursor: default;
}
.featureTitle1 {
  color: var(--rightSideFeaturesTitleColor1);
}
.featureTitle2 {
  color: var(--rightSideFeaturesTitleColor2);
}
.featureTitle3 {
  color: var(--rightSideFeaturesTitleColor3);
}
.featureTitle4 {
  color: var(--rightSideFeaturesTitleColor4);
}
.featuresDescription {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  cursor: default;
  line-height: 12px;
}

.rightSidebarTitle1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  margin: 20px 0 40px;
  border: 2px solid var(--rightSidebarButtonBorder);
  box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  -moz-box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  z-index: 2;
  background: url(../assets/theme/button-background2.png);
}

.rightSidebarTitle1:after {
  content: "";
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  z-index: 3;
  background: url(../assets/theme/button-deco2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.rightSidebarTitle1Text {
  font-family: "Thixel";
  color: var(--rightSidebarButtonTextColor);
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  text-shadow: 3px 0 var(--rightSidebarButtonTextBorder),
    -3px 0 var(--rightSidebarButtonTextBorder),
    0 3px var(--rightSidebarButtonTextBorder),
    0 -3px var(--rightSidebarButtonTextBorder),
    2px 2px var(--rightSidebarButtonTextBorder),
    -2px -2px var(--rightSidebarButtonTextBorder),
    2px -2px var(--rightSidebarButtonTextBorder),
    -2px 2px var(--rightSidebarButtonTextBorder);
  cursor: default;
}

/*---------------------------------------------------------------------------------*/
/* Choose by Theme */
.themesList {
  width: 100%;
}
.themeOption {
  list-style: none;
  margin: 1px;
  text-transform: uppercase;
  font-size: 11px;
  color: var(--leftSidebarMenuTextColor);
  padding: 3px 3px 3px 4px;
  font-weight: 300;
  font-family: "Poppins";
  letter-spacing: 1px;
  border-bottom: 2px dotted var(--rightSidebarThemesSelectorBorderBottom);
}
.themeOption:last-child {
  border-bottom: none;
}
.themeOption a {
  display: flex;
  align-items: center;
  gap: 5px;
  word-wrap: anywhere;
}
.bullet {
  height: 15px;
  display: inline-block;
  content: url(../assets/theme/bullet-indicator.gif);
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seeAllThemes {
  width: 50%;
  margin: 20px 0;
  background: #cca4ff;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.seeAllThemesText {
  font-family: "Thixel";
  color: var(--rightSidebarThemeSelectorText);
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 15px;
  text-align: center;
  text-shadow: 3px 0 var(--rightSidebarButtonTextBorder),
    -3px 0 var(--rightSidebarButtonTextBorder),
    0 3px var(--rightSidebarButtonTextBorder),
    0 -3px var(--rightSidebarButtonTextBorder),
    2px 2px var(--rightSidebarButtonTextBorder),
    -2px -2px var(--rightSidebarButtonTextBorder),
    2px -2px var(--rightSidebarButtonTextBorder),
    -2px 2px var(--rightSidebarButtonTextBorder);
  cursor: default;
}
.seeAllThemesStar {
  font-family: "Sparkle";
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: var(--seeAllThemesStarColor);
  cursor: default;
}

/*---------------------------------------------------------------------------------*/
/* Choose by Price */
.pricesMenu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10px;
}
.priceCap {
  width: 45%;
}
.priceCap a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.priceRange {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: center;
}
.priceRange span {
  font-size: 13px;
  font-weight: 600;
}
.priceCapIcon1 {
  content: url(../assets/icons/price-cap-1.png);
  height: 70px;
}
.priceCapIcon2 {
  content: url(../assets/icons/price-cap-2.png);
  height: 70px;
}
.priceCapIcon3 {
  content: url(../assets/icons/price-cap-3.png);
  height: 70px;
}
.priceCapIcon4 {
  content: url(../assets/icons/price-cap-4.png);
  height: 70px;
}

/*---------------------------------------------------------------------------------*/
/* Choose by Color */
.allColors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}
.selectColor {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
.colorRed {
  background: #f72f2f;
}
.colorOrange {
  background: #f77f2f;
}
.colorYellow {
  background: #f7d42f;
}
.colorGreen {
  background: #9ede4a;
}
.colorMint {
  background: #06ebc8;
}
.colorSoftBlue {
  background: #2fd4f7;
}
.colorDarkBlue {
  background: #0642eb;
}
.colorPurple {
  background: #bb88f0;
}
.colorMagenta {
  background: #eb06d8;
}
.colorPink {
  background: #ffa5d6;
}
.colorGray {
  background: #b2b2b2;
}
.colorBlack {
  background: #252525;
}
.colorWhite {
  background: #fff;
  border: 1px solid black;
}

/*---------------------------------------------------------------------------------*/
/* Most Loved  Section */
.mostLovedSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: var(--leftSidebarMenuBackground);
}

#mostLoved, #mostLovedMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 40px;
  gap: 50px;
}
#mostLoved .productCard:first-child::after, #mostLovedMobile .productCard:first-child::after {
  content: "";
  background: url(../assets/icons/tier-iridium.png);
  background-size: cover;
  width: 52px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
}
#mostLoved .productCard:nth-child(2)::after, #mostLovedMobile .productCard:nth-child(2)::after {
  content: "";
  background: url(../assets/icons/tier-gold.png);
  background-size: cover;
  width: 52px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
}
#mostLoved .productCard:nth-child(3)::after, #mostLovedMobile .productCard:nth-child(3)::after  {
  content: "";
  background: url(../assets/icons/tier-silver.png);
  background-size: cover;
  width: 52px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
}
#mostLoved .productCard:nth-child(4)::after, #mostLovedMobile .productCard:nth-child(4)::after {
  content: "";
  background: url(../assets/icons/tier-bronze.png);
  background-size: cover;
  width: 52px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
}

/*---------------------------------------------------------------------------------*/
/* Aesthethics */
.bullet2 {
  height: 15px;
  display: inline-block;
  content: url(../assets/theme/bullet-indicator2.gif);
}

/*---------------------------------------------------------------------------------*/
/* Divider Deco */
.rightSidebarDeco {
  content: url(../assets/theme/right-sidebar-deco.gif);
  width: 90%;
  height: auto;
  margin: 20px 0;
}

/*---------------------------------------------------------------------------------*/
/* AD Windows */
.ad2 {
  background: url(../assets/marketing/ad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ad3 {
  background: url(../assets/marketing/ad3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ad4 {
  background: url(../assets/marketing/ad2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



@media (max-width: 2400px) {
  #mostLoved .productCard,
  #mostLovedMobile .productCard {
    width: 90%;
    min-height: auto;
  }
  #mostLoved .productPicture {
    height: auto;
    width: 80%;
  }
  #mostLoved .productTitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 2000px) {
  .featuresList {
    padding: 0;
    width: 75%;
  }
  .features {
    flex-direction: column;
    gap: 0;
  }
  .featureTitle,
  .featuresDescription {
    text-align: center;
  }
  #mostLoved .productCard:first-child::after,
  #mostLoved .productCard:nth-child(2)::after,
  #mostLoved .productCard:nth-child(3)::after,
  #mostLoved .productCard:nth-child(4)::after {
    right: 10px;
  }
}

@media (max-width: 1800px) {
  #mostLoved .productCard:first-child::after,
  #mostLoved .productCard:nth-child(2)::after,
  #mostLoved .productCard:nth-child(3)::after,
  #mostLoved .productCard:nth-child(4)::after {
    width: 32px;
    height: 40px;
  }
}

@media (max-width: 1600px) {
  .seeAllThemes {
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  #mostLoved .itemPrice {
    font-size: 15px;
    width: 90px;
  }
  #mostLoved .collectionItem {
    width: 90px;
    font-size: 15px;
  }
  .featureTitle {
    font-size: 15px;
    line-height: 12px;
  }
  .featuresDescription {
    font-size: 11px;
  }
  .priceCapIcon1,
  .priceCapIcon2,
  .priceCapIcon3,
  .priceCapIcon4 {
    height: 50px;
  }
}

@media (max-width: 1100px) {
  #mostLoved .productTitle {
    font-size: 11px;
    line-height: 13px;
  }
  .rightSidebarTitle1Text {
    font-size: 18px;
    line-height: 15px;
  }
  #mostLoved .productCard:first-child::after,
  #mostLoved .productCard:nth-child(2)::after,
  #mostLoved .productCard:nth-child(3)::after,
  #mostLoved .productCard:nth-child(4)::after {
    width: 22px;
    height: 30px;
    right: 7px;
    top: 20px;
    z-index: 2;
  }
}

@media (max-width: 1000px) {
  .featuresDescription,
  .themeOption {
    font-size: 10px;
    line-height: 13px;
  }
  .featureTitle {
    font-size: 16px;
    line-height: 12px;
  }
  .priceRange {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  #rightSidebarComponent {
    display: none;
  }
}
