.rightSidebar {
  width: 13%;
  background: var(--rightSidebarBackground);
  box-shadow: inset 0 0 10px var(--leftSidebarBorderColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.noticeBoard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allNotices {
  background: var(--rightSidebarAllNoticesBackground);
  width: 70%;
  padding: 0 10px;
  margin: 20px 0;
  border-radius: 10px;
  outline: 3px dotted var(--rightSidebarAllNoticesOutline);
}

.notice {
  display: flex;
  align-items: center;
  gap: 10px;
}

.noticeButton {
  min-width: 40px;
  min-height: 40px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  line-height: 1px;
  color: var(--rightSidebarNoticeButtonColor);
  cursor: default;
}

.notice1 {
  font-family: "Sparkle";
  font-size: 35px;
  background: var(--rightSidebarNoticeButtonBackground1);
  box-shadow: inset 0 0 10px var(--rightSidebarNoticeButtonGlow1);
}

.notice2 {
  font-family: "FontAwe";
  font-size: 25px;
  background: var(--rightSidebarNoticeButtonBackground2);
  box-shadow: inset 0 0 10px var(--rightSidebarNoticeButtonGlow2);
}

.notice3 {
  font-family: "FontAweBrands";
  font-size: 30px;
  background: var(--rightSidebarNoticeButtonBackground3);
  box-shadow: inset 0 0 10px var(--rightSidebarNoticeButtonGlow3);
}

.notice4 {
  font-family: "FontAwe";
  font-size: 25px;
  background: var(--rightSidebarNoticeButtonBackground4);
  box-shadow: inset 0 0 10px var(--rightSidebarNoticeButtonGlow4);
}

.noticeTitle {
  font-family: "Thixel";
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 14px;
  cursor: default;
}

.title1 {
  color: var(--rightSideNoticeTitleColor1);
}
.title2 {
  color: var(--rightSideNoticeTitleColor2);
}
.title3 {
  color: var(--rightSideNoticeTitleColor3);
}
.title4 {
  color: var(--rightSideNoticeTitleColor4);
}

.noticeDescription {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  cursor: default;
  line-height: 12px;
}

.rightSidebarButton {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 20px;
  position: relative;
  top: -20px;
  border: 2px solid var(--rightSidebarButtonBorder);
  box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  -webkit-box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  -moz-box-shadow: inset -3px -3px 10px var(--rightSidebarButtonGlow),
    4px 5px 18px -5px var(--rightSidebarButtonShadow);
  z-index: 2;
}

.rightSidebarButton:after {
  content: "";
  width: 80px;
  height: 30px;
  position: absolute;
  bottom: -20px;
  z-index: 3;
}

.rightSidebarText {
  font-family: "Thixel";
  color: var(--rightSidebarButtonTextColor);
  font-size: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  text-align: center;
  text-shadow: 3px 0 var(--rightSidebarButtonTextBorder),
    -3px 0 var(--rightSidebarButtonTextBorder),
    0 3px var(--rightSidebarButtonTextBorder),
    0 -3px var(--rightSidebarButtonTextBorder),
    2px 2px var(--rightSidebarButtonTextBorder),
    -2px -2px var(--rightSidebarButtonTextBorder),
    2px -2px var(--rightSidebarButtonTextBorder),
    -2px 2px var(--rightSidebarButtonTextBorder);
  cursor: default;
}

.themesList {
  width: 100%;
}

.themeOption {
  list-style: none;
  margin: 1px;
  text-transform: uppercase;
  font-size: 13px;
  color: var(--leftSidebarMenuTextColor);
  padding: 3px 3px 3px 4px;
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  border-bottom: 2px dotted var(--rightSidebarThemesSelectorBorderBottom);
}

.themeOption:last-child {
  border-bottom: none;
}

.themeOption a {
  display: flex;
  align-items: center;
  gap: 5px;
  word-wrap: anywhere;
}

.bullet {
  height: 15px;
  display: inline-block;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seeAllThemes {
  width: 50%;
  margin: 20px 0;
  background: #cca4ff;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seeAllThemesText {
  font-family: "Thixel";
  color: var(--rightSidebarThemeSelectorText);
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 15px;
  text-align: center;
  text-shadow: 3px 0 var(--rightSidebarButtonTextBorder),
    -3px 0 var(--rightSidebarButtonTextBorder),
    0 3px var(--rightSidebarButtonTextBorder),
    0 -3px var(--rightSidebarButtonTextBorder),
    2px 2px var(--rightSidebarButtonTextBorder),
    -2px -2px var(--rightSidebarButtonTextBorder),
    2px -2px var(--rightSidebarButtonTextBorder),
    -2px 2px var(--rightSidebarButtonTextBorder);
  cursor: default;
}

.seeAllThemesStar {
  font-family: "Sparkle";
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: var(--seeAllThemesStarColor);
  cursor: default;
}

.allColors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.pricesMenu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 10px;
}

.priceCap {
  width: 40%;
}

.priceCap a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.priceRange {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  color: var(--leftSidebarMenuTextColor);
  font-weight: 400;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: center;
}

.priceRange span {
  font-size: 13px;
  font-weight: 600;
}

.selectColor {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

.colorRed {
  background: #f72f2f;
}
.colorOrange {
  background: #f77f2f;
}
.colorYellow {
  background: #f7d42f;
}
.colorGreen {
  background: #9ede4a;
}
.colorMint {
  background: #06ebc8;
}
.colorSoftBlue {
  background: #2fd4f7;
}
.colorDarkBlue {
  background: #0642eb;
}
.colorPurple {
  background: #bb88f0;
}
.colorMagenta {
  background: #eb06d8;
}
.colorPink {
  background: #ffa5d6;
}
.colorGray {
  background: #b2b2b2;
}
.colorBlack {
  background: #252525;
}
.colorWhite {
  background: #fff;
  border: 1px solid black;
}

.lovedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 40px;
  gap: 50px;
}

.productCardSidebar {
  width: 90%;
  border: 1px solid var(--productBorderColor);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 30px 0;
  position: relative;
}

.firstItem {
  height: 55px;
  width: 47px;
  position: absolute;
  left: -10px;
  top: -20px;
}

.secondtItem {
  height: 55px;
  width: 47px;
  position: absolute;
  left: -10px;
  top: -20px;
}

.thirdItem {
  height: 55px;
  width: 50px;
  position: absolute;
  left: -10px;
  top: -20px;
}

.fourthItem {
  height: 55px;
  width: 50px;
  position: absolute;
  left: -10px;
  top: -20px;
}
