:root {
  --socialRowBackground: linear-gradient(
    0deg,
    rgba(241, 101, 178, 1) 0%,
    rgba(254, 138, 202, 1) 50%
  );
  --socialRowTitle: #fff;
  --socialRowTitleShadow: #cd0164;
  --socialIconColor: #1d0745;
  --socialIconHover: #fefd97;
  --headerTransparency: #cab1ee;

  --headerMenuBackground: linear-gradient(
    0deg,
    rgba(170, 124, 249, 1) 0%,
    rgba(205, 172, 251, 1) 78%
  );
  --headerMenuBorder: #6f41ff;

  --allCategoriesBackground: #fb298f;
  --allCategoriesTextColor: #fff;
  --menuProductsTextColor: #fff;
  --menuProductsShadow: #ed4ef8;
  --menuProductsHoverBackground: #fefd97;
  --menuProductsTextColorHover: #7653e3;
  --menuProductsHoverShadow: #fff;
  --menuStarsColor: #fdfb55;

  --mainBackground: #b37ff2;
  --mobileButtonCloseBackground: #b37ff2;
  --mainAreaBackground: #fff;
  --mainAreaBorderColor: #b77eef;

  /* Left Sidebar */
  --leftSidebarBackground: #fceefa;
  --leftSidebarBorderColor: #b77eef;
  --leftSidebarTitle1Border: #fff;
  --leftSidebarTitle1Glow: #f554a2;
  --leftSidebarTitle1Shadow: rgba(244, 31, 255, 0.55);
  --leftSidebarTitle1TextColor: #ff42d0;
  --leftSidebarTitle1TextBorder: #fff;
  --leftSidebarMenuBorder: #fb298f;
  --leftSidebarMenuBackground: #fff;
  --leftSidebarMenuTextColor: #131313;
  --leftSidebarMenuLeftBorderColor1: #fd8cd2;
  --leftSidebarMenuLeftBorderColor1Hover: #fc67af;
  --leftSidebarMenuLeftBorderColor2: #c084f3;
  --leftSidebarMenuLeftBorderColor2Hover: #a856ef;
  --leftSidebarMenuLeftBorderColor3: #60cbe7;
  --leftSidebarMenuLeftBorderColor3Hover: #3eb9da;

  /* Homepage Carousel */
  --homepageCarouselBackgroundColor: #fff;
  --homepageCarouselBorderColor: #ff83cf;
  --homepageCarouselPicturesBorderColor: #606060;

  /* Titles */
  --titleButton1Border: #fff;
  --titleButton1Glow: #f554a2;
  --titleButton1Shadow: rgba(244, 31, 255, 0.55);
  --titleButton1TextColor: #ff42d0;
  --titleButton1TextBorder: #fff;
  --titleButton2Border: #fff;
  --titleButton2Glow: #b25fff;
  --titleButton2Shadow: rgba(136, 31, 255, 0.55);
  --titleButton2TextColor: #8f43db;
  --titleButton2TextBorder: #fff;

  /* How to Use */
  --howToUseBackgroundColor: #ffd3e8;
  --howToUseSectionGlow: #fb298f;
  --howToUseCardBorder: #ff42d0;
  --howToUseCardTextDecoration: #fb298f;

  /* Collection Showcase */
  --collectionShowcaseCardGradient1: linear-gradient(
    45deg,
    rgba(251, 149, 150, 1) 0%,
    rgba(182, 190, 251, 1) 100%
  );
  --collectionShowcaseCardGradient2: linear-gradient(
    45deg,
    rgba(255, 206, 55, 1) 0%,
    rgba(246, 13, 22, 1) 100%
  );
  --collectionShowcaseCardGradient3: linear-gradient(
    45deg,
    rgba(251, 149, 150, 1) 0%,
    rgba(182, 190, 251, 1) 100%
  );
  --collectionShowcaseCardGradient4: linear-gradient(
    45deg,
    rgba(255, 206, 55, 1) 0%,
    rgba(246, 13, 22, 1) 100%
  );


  /* Pink World Section */
  --pinkWorldSectionGlow: #fb298f;
  --pinkWorldBoxOutline: #fb298f;


  /* Right Sidebar */
  --rightSidebarBackground: #f4eaff;
  --rightSidebarfeaturesListBackground: #fff;
  --rightSidebarFeaturesListOutline: #a856ef;
  --rightSidebarFeaturesButtonColor: #fff;
  --rightSidebarFeaturesButtonBackground1: #e9bec6;
  --rightSidebarFeaturesButtonGlow1: #ff56cf;
  --rightSideFeaturesTitleColor1: #e787c1;
  --rightSidebarFeaturesButtonBackground2: #ba8fe9;
  --rightSidebarFeaturesButtonGlow2: #b268fd;
  --rightSideFeaturesTitleColor2: #ba8fe9;
  --rightSidebarFeaturesButtonBackground3: #6da9d1;
  --rightSidebarFeaturesButtonGlow3: #617cb3;
  --rightSideFeaturesTitleColor3: #69a1c5;
  --rightSidebarFeaturesButtonBackground4: #a7a3d5;
  --rightSidebarFeaturesButtonGlow4: #b18ceb;
  --rightSideFeaturesTitleColor4: #a7a3d5;

  --rightSidebarButtonBorder: #fff;
  --rightSidebarButtonGlow: #b25fff;
  --rightSidebarButtonShadow: rgba(136, 31, 255, 0.55);
  --rightSidebarButtonTextColor: #8f1cff;
  --rightSidebarButtonTextBorder: #fff;
  --rightSidebarThemesSelectorBorderBottom: #bc89fc;
  --rightSidebarThemeSelectorText: #fe268f;
  --seeAllThemesStarColor: #fdfb55;

  --productBorderColor: #363636;
  --itemPriceBackgroundColor: #c894fb;
  --itemPriceTextColor: #282828;

  /* Footer */
  --footerBackground: #f4eaff;
  --footerGlow: #b268fd;
  --footerCreditsBackground: #fe268f;
  --footerCreditsText: #f9bfe2;
  --footerCreditsLink: #fff;
}



#headerComponent {

}

